.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    min-width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: left;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    /*padding: 0 5rem;*/
    height: 100%;
    /*margin: 0;*/
    /*margin-right: 40rem;*/
    float: right;
}


.menu__list-item {
    display: inline-block;
    height: 100%;
    /*margin-right: 60px;*/
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
    cursor: pointer;
}
.menu__link2{
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
    cursor: pointer;
}

.menu__link:hover {
    color: #ffaa3b;
    text-decoration: none;
    background: #ffa400;
}

.menu__link2:hover {
    color: #ffaa3b;
    text-decoration: none;

}

.menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}
.menu__logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 120px;
    /*background-image: url("/src/Images/Add_category.png");*/
    background-size: cover  ;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
NavDropdown {
    color: #282c34;
}