.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










:root {
  --mainBlue: #fc6719;
  --lightBlue: #65646a;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --reviewColourLight:#aeb6bf;
  --reviewColour: #273746  ;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Permanent Marker',cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transfor: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.btn-black {
  background: transparent;
  text-transfor: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
#page-container {
  position: relative;
  min-height: 85vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.adminForm{
  background: #55acf3;
  padding: 1.5em;
  border-radius: 1em;
}
.center{
  display: block;
  justify-content: center;
  align-items: center;
  height:65vh;
}

.actionLink{
  /*background-color: #55acf3;*/
  color: white;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}
.actionLink:hover{
  text-decoration: none;
  color:#ffa400;
}
